[models.'doubao_1_5_ui_tars_250328']
name = "YOUR_MODEL_ID_HERE"
base_url = "https://ark.cn-beijing.volces.com/api/v3"
api_key = "YOUR_API_KEY_HERE"
max_action = 100
max_images = 5
display_name = "Doubao-1.5-UI-TARS"

[sandbox]
mcp_server_endpoint = "http://127.0.0.1:8000/sse"
manager_endpoint = ""
manager_req_timeout = 10
tool_server_endpoint_format = "http://127.0.0.1:8102"

[planner]
step_interval = 3
action_wait_interval = 10
auth_api_key = ""

[log]
env = "dev"
filename = "/var/log/agent-planner.log"
fmt = "%(asctime)s %(levelname)7s %(filename)s:%(lineno)s - %(name)s - %(message)s"
backup_count = 5
max_bytes = 104857600
datefmt = "%Y-%m-%d %H:%M:%S"

